- var barCount = gistogram[barNum];
- var count = 0;
- for (var i=barToEndNum; i < gistogram.length; i++){
    - count = count + gistogram[i];
- }
if (type == 'all')
    h2 Итоги экзаменов
    p
        | Гистограмма отражает распределение баллов по итогам двух экзаменов и показывает количество абитуриентов, которые на двух экзаменах набрали баллы, попадающие в определенный диапазон значений. 
        br
        | Например, #{barCount} #{GetNoun(barCount, 'абитуриент', 'абитуриента', 'абитуриентов')} по итогам двух экзаменов 
        | набрали баллы в диапазоне от #{10*barNum+1} до #{10*barNum+10},
        | а более #{10*barToEndNum} баллов #{GetNoun(count, 'набрал', 'набрали', 'набрали')} #{count} #{GetNoun(count, 'абитуриент', 'абитуриента', 'абитуриентов')}.
        br
        | Итоги двух вступительных испытаний позволяют определить текущий проходной балл**
if (type == 'one')
    h2 Итоги экзамена
    p
        | Гистограмма отражает распределение баллов по итогам экзамена и
        | показывает количество работ, которые оценены в определенном интервале
        | баллов. 
        br
        | Например, в диапазоне от #{10*barNum+1} до #{10*barNum+10} баллов находится #{barCount} #{GetNoun(barCount, 'работа', 'работы', 'работ')} 
        | абитуриентов, 
        | а более #{10*barToEndNum} баллов #{GetNoun(count, 'набрал', 'набрали', 'набрали')} #{count} #{GetNoun(count, 'абитуриент', 'абитуриента', 'абитуриентов')}.       
