include ./partials/getNoun
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Статистика экзамена по предмету #{subject.name}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans")
    link(rel='stylesheet', href='/stylesheets/report2Print.css')
    link(rel="stylesheet", href="/stylesheets/print.css")
    style
      @page { size: A3 }
  body.A3
    - var profilesAmmount = 0;
    - var profilesCountTotal = countTotal;
    - var profileOlympTotal = 0
    - for (var i = 0; i < profiles.length; i++) {
      - profilesAmmount = profilesAmmount + profiles[i].ammount
      - for (var j = 0; j < totalStat.length; j++) {
        - if (''+profiles[i]._id === ''+totalStat[j].profile) {
          - profileOlympTotal = profileOlympTotal + totalStat[j].countOlymp;
        - }
      - }
    - }
    section.sheet
      header
        .info
          p Лицей БГУ
          p #{entryDateStr}
        if subject.length > 12 
          h1.smallh1 #{subject}
        else
          h1 #{subject.name}
        nav
          p Общая информация
          p.centered Явка
          p Результаты
      aside
        .site-bar
          .subsection
            h2 Информация
            p
              | #{' '}Экзамен проходил: <b>#{examDateStr}</b>.
            p
              | Экзамен по предмету <b>#{subject.name}</b> необходимо сдавать для поступления на 
              span 
                if profileNames.length === 1
                  | <b>#{profileNames[0]}</b> профиль.
                if profileNames.length > 1
                  | <b>#{profileNames.join(', ')}</b> профили.
              
            p
              | На <b>#{profilesAmmount}</b> #{GetNoun(profilesAmmount, 'место', 'места', 'мест')} 
              span 
                if profileNames.length === 1
                  | этого профиля
                if profileNames.length > 1
                  | этих профилей.
              | #{' '}было подано <b>#{profilesCountTotal}</b> #{GetNoun(profilesCountTotal, 'заявление', 'заявления', 'заявлений')} из них <b>#{profileOlympTotal}</b> от призеров
              | заключительного этапа республиканской предметной олимпиады, которые
              | рекомендуются к зачислению без экзаменов. 
            p  
              - var concourse = ((profilesCountTotal - profileOlympTotal) / (profilesAmmount - profileOlympTotal)).toFixed(2)
              | Таким образом по итогам
              | подачи документов конкурс составил <b>#{concourse}</b> #{GetNoun(concourse * 100, 'человек', 'человек', 'человек')} на место.
          .subsection
            h2 Явка на экзамен
            .result
              p Допущено
              p <b>#{countTotal - profileOlympTotal}</b>
            .result
              p Приняли участие
              p <b>#{list.length - absentList.length}</b>  
            .result
              p Не явились
              p <b>#{absentList.length}</b>  
            .result    
          .subsection
            h2 Результаты
            .result
              p Максимальный балл
              p <b>#{max}</b>
            .result
              p Минимальный балл
              p <b>#{min}</b>
            .result
              p Средний балл
              p <b>#{average}</b>
            .result
              p Медианный балл
              p <b>#{mediana}</b>
            .result
              p "Проходной"*
              p <b>#{pass}</b>
            p(style="font-size: 14px; margin-bottom: 0")
              | * "Проходной балл" - служит для примерной оценки вашего результата. Не относитесь к этому значению слишком серьезно! Поступление определяется по итогам двух экзаменов.
            p(style="font-size: 14px; margin: 0")
              | Это значение было рассчитано следующим образом: экзамен сдается для поступления на #{profileNames.length} #{GetNoun(profileNames.length, 'профиль', 'профиля', 'профилей')}, которые содержат #{profilesAmmount - profileOlympTotal} #{GetNoun(profilesAmmount - profileOlympTotal, 'место', 'места', 'мест')} с учетом победителей республиканских олимпиад, поступающих без экзаменов, и проходному баллу соответствует #{profilesAmmount - profileOlympTotal}-й результат в общем рейтинге абитуриентов.
      main#main-content.main
        h3 Распределение результатов экзамена по баллам
        .content
          .diagram
            .grid
                - for (i=0;i<6;i++){
                  span.segment(style="bottom:#{i*Math.ceil(division)*(350/gistogramMax)}px")   
                        span.segment-title #{i*Math.ceil(division)}
                        span.scale_division
                - }
            each data, index in gistogram
              div.data-bar(style="height:#{data*350/gistogramMax}px")
                .count #{data > 0 ? data : ''}
                if index == 0
                  .points 0-#{10*index+10}
                else 
                  .points #{10*index+1}-#{10*index+10}                  
          
          - var type = 'one';
          
          include ./partials/gistogramInfo

          -var lineMin = min;
          -var lineMax = max;
          -var linePass = pass;
          -var lineTotal = 100;
          
          include ./partials/statsLine

          include ./partials/yourResultInfo

      include ./partials/statsFooter
