include ./partials/getNoun
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Статистика экзамена по предмету #{subject} на #{profile.name} профиль
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans")
    link(rel='stylesheet', href='/stylesheets/report2Print.css')
    link(rel="stylesheet", href="/stylesheets/print.css")
    style
      @page { size: A3 }
  body.A3
    section.sheet
      header
        .info
          p Лицей БГУ
          p #{entryDateStr}
        if subject.length > 12 
          h1.smallh1 #{subject}
        else
          h1 #{subject}
        nav
          p Общая информация
          p.centered Явка
          p Результаты
      aside
        .site-bar
          .subsection
            h2 Информация
            p
              | Для поступления на <b>#{profile.name}</b> профиль необходимо сдать два
              | экзамена: <b>#{profile.firstExamName}</b> (<b>#{profile.firstExamDateStr}</b>) и <b>#{profile.secondExamName}</b> (<b>#{profile.secondExamDateStr}</b>).
            p
              | На <b>#{profile.ammount}</b> места было подано <b>#{profile.countArray[profile.countArray.length-1].count}</b> заявлений из них <b>#{profile.olymp}</b> заявлений от призеров
              | заключительного этапа республиканской предметной олимпиады, которые
              | рекомендуются к зачислению без экзаменов. Таким образом по итогам
              | подачи документов конкурс составил <b>#{((profile.countArray[profile.countArray.length - 1].count - profile.olymp) / (profile.ammount - profile.olymp)).toFixed(2)}</b> человека на место.
          .subsection
            h2 Явка на экзамен
            .result
              p Допущено
              p <b>#{profile.countArray[profile.countArray.length-1].count - profile.olymp}</b>
            .result
              p Приняли участие
              p <b>#{list.length - profile.olymp - absentList.length}</b>  
            .result
              p Не явились
              p <b>#{absentList.length}</b>  
            .result    
          .subsection
            h2 Результаты
            .result
              p Максимальный балл
              p <b>#{max}</b>
            .result
              p Минимальный балл
              p <b>#{min}</b>
            .result
              p Средний балл
              p <b>#{average}</b>
            .result
              p Медианный балл
              p <b>#{mediana}</b>
            .result
              p Текущий проходной
              p <b>#{pass}</b>
      main#main-content.main
        h3 Распределение результатов экзамена по баллам
        .content
          .diagram
            .grid
                - for (i=0;i<6;i++){
                  span.segment(style="bottom:#{i*Math.ceil(division)*(350/gistogramMax)}px")   
                        span.segment-title #{i*Math.ceil(division)}
                        span.scale_division
                - }
            each data, index in gistogram
              div.data-bar(style="height:#{data*350/gistogramMax}px")
                .count #{data > 0 ? data : ''}
                if index == 0
                  .points 0-#{10*index+10}
                else 
                  .points #{10*index+1}-#{10*index+10}                  
          
          - var type = 'one';
          
          include ./partials/gistogramInfo

          -var lineMin = min;
          -var lineMax = max;
          -var linePass = pass;
          -var lineTotal = 100;
          
          include ./partials/statsLine

          include ./partials/yourResultInfo

      include ./partials/statsFooter
