div.protocol
    h3.headline ПРОТОКОЛ вступительного испытания
    p по учебному предмету 
        span.italics-text #{subject} в 10 класс (#{profile} профиль) 
        span государственного учреждения образования 
        span.italics-text Лицей Белорусского государственного университета
    p Председатель экзаменационной комиссии {}.
    p Члены экзаменационной комиссии {}:
    p На вступительное испытание явились #{list.length - withoutExams.length - absentList.length} чел., не явились #{absentList.length} чел.
    ol
      each pupil in absentList
        li=pupil.firstName +' '+ pupil.lastName + ' ' + pupil.parentName
    p Вступительное испытание началось в #{startTimeString}.
    p Вступительное испытание закончилось в #{endTimeString}.
    p Название текста диктанта (номер варианта контрольной работы) #{testVariant}
    table
      thead
      tr
        th N п/п
        th Фамилия
        th Имя
        th Отчество
        th Количество баллов, полученных на вступительном испытании
        th Примечание (при необходимости решение апелляционной комиссии о повышении отметки, дата и номер протокола)
        tbody
        each pupil in list
          tr
            td=num=num+1
            td=pupil.firstName
            td=pupil.lastName
            td=pupil.parentName
            if pupil[`exam${examNumber}`] === -2
              td н
            else if pupil[`exam${examNumber}`] === -1
              td Б/Э
            else
              td=pupil[`exam${examNumber}`] 
            td 


    div.info
        p Дата проведения вступительного испытания          
        p #{(new Date(date)).format('"dd" мая yyyy г.')}
    div.info 
        p Дата внесения отметок в протокол                        
        p #{(new Date(entryDate)).format('"dd" мая yyyy г.')}
    div Председатель экзаменационной комиссии            ___________          {}
    div Члены экзаменационной комиссии:          ___________      {}  
