include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

extends ../adminLayout
append menuVars
  - var menuPage = 'settings';
  - var menuSection = 'settings';
block content
    form#dataForm.form-horizontal(method='post', action='/admin/settings/')
        .row    
            +pageHeader()
                | Настройки
             .col-md-5.text-right
                .form-group
                    a.btn.btn-primary.btn-move-left(href='/admin/settings/calculateStats')
                        span.btn-label
                            i.fas.fa-chart-bar
                        | #{'  '}Пересчитать статистику                       
                    button.btn.btn-success.btn-move-left(type='submit', value='Save')
                        span.btn-label
                            i.fa.fa-save
                        | #{'  '}Сохранить  
    
        
        h2.card-title Настройки личного кабинета 
        
            
        .row
            .col-md-6
                .row
                    +simpleCard('Главное', 12) 
                        h5 Личный кабинет
                        +field('switch', "showPupilCabinet", 'Показывать')(checked=(docs && docs.showPupilCabinet ))#showPupilCabinet
                        h5 Конкурс на главной
                        +field('switch', "showStats", 'Показывать')(checked=(docs && docs.showStats ))#showStats
                        h5 Супер пароль
                        +field('text', "superPassword", 'Пароль')(value=(docs && docs.superPassword))#superPassword

                    +simpleCard('Даты', 12)
                        h5 Регистрация
                        +field('date', "registrationEndDate", 'Конец регистрации')(value=(docs && docs.registrationEndDate ))#registrationEndDate
                        +field('date', "confirmationEndDate", 'Уже точно конец')(value=(docs && docs.confirmationEndDate))#confirmationEndDate
                        h5 Резервный день
                        +field('date', "reservedDayDate", 'Дата   ')(value=(docs && docs.reservedDayDate))#reservedDayDate
                        +field('date', "absentDocumentsDate", 'Конец приема справок')(value=(docs && docs.absentDocumentsDate))#absentDocumentsDate
                        h5 Итоги вступительной кампании
                        +field('date', "totalResultsDate", 'Появление итогов')(value=(docs && docs.totalResultsDate))#totalResultsDate
                        +field('date', "endDocumentsDate", 'Конец приема документов поступивших')(value=(docs && docs.endDocumentsDate))#endDocumentsDate
                    +simpleCard('Правила приёма', 12)
                        +field('text', "rulesLink", 'Ссылка на правила')(value=(docs && docs.rulesLink))#rulesLink
                        h5 Пункты правил
                        +field('text', "rulesClassPoint", 'Про 9 класс')(value=(docs && docs.rulesClassPoint))#rulesClassPoint
                        +field('text', "rulesOlympPassPoint", 'Про олимпиаду')(value=(docs && docs.rulesOlympPassPoint))#rulesOlympPassPoint
                        +field('text', "rulesOlympPoint", 'Про олимпиадные предметы')(value=(docs && docs.rulesOlympPoint))#rulesOlympPoint
                        +field('text', "rulesHalfPassPoint", 'Про преимущественное право')(value=(docs && docs.rulesHalfPassPoint))
                        h5 Правила приёма
                        +field('textarea', "rulesHTML", 'HTML правил')( rows="10")#rulesHTML #{docs && docs.rulesHTML} 
                    
            .col-md-6        
                .row
                    +simpleCard('Разное', 12)
                        h5 Согласие абитуриента 
                        +infoBlock 
                            | Если это поле заполнено, то абитуриенту при подаче заявки предложат поставить галочку и согласиться с текстом поля
                        +field('textarea', "agreement", 'Текст возле галочки')( rows="3")#agreement #{docs && docs.agreement} 
                        h5 Видео инструкция о регистрации
                        +field('text', "registrationVideoLink", 'Ссылка на Youtube')(value=(docs && docs.registrationVideoLink))#registrationVideoLink
                        h5 Форма аппеляции
                        +field('text', "appelationFormLink", 'Ссылка на форму')(value=(docs && docs.appelationFormLink))#appelationFormLink
            
                    +simpleCard('Для зачисленных', 12)
                        h5 Анкета для рекомендованных к зачислению
                        +field('text', "anketaLink", 'Ссылка на google doc')(value=(docs && docs.anketaLink))#anketaLink
                        h5 Сообщение, которое появится у всех зачисленных
                        p.card-category (например, приглашение на "Hello, карапузы")
                        +field('textarea', "helloMessage", 'Текст')( rows="4")#helloMessage #{docs && docs.helloMessage} 
                                
        h2.card-title Настройки работы сайта 
        .row
            .col-md-6        
                .row
                    +simpleCard('Отправка сообщений', 12)  
                        h5 eMails
                        p.card-category 
                            | Мы используем “application-specific password” для лучшей безопасности
                            br
                            | За подробностями можно оборатиться к 
                            a(href="https://lyceumbsu.atlassian.net/wiki/spaces/WEBSITE/pages/4030500/gmail", target="_blank") страничке на Confluence
                        
                        +field('text', "email1", 'Первый email')(value=(docs && docs.email1))#email1
                        +field('text', "email1Pass", 'Первый email - пароль')(value=(docs && docs.email1Pass))#email1Pass
                        
                        +field('text', "email2", 'Первый email')(value=(docs && docs.email2))#email2
                        +field('text', "email2Pass", 'Первый email - пароль')(value=(docs && docs.email2Pass))#email2Pass
                        
                        +field('text', "email3", 'Первый email')(value=(docs && docs.email3))#email3
                        +field('text', "email3Pass", 'Первый email - пароль')(value=(docs && docs.email3Pass))#email3Pass

                        +field('text', "email4", 'Первый email')(value=(docs && docs.email4))#email4
                        +field('text', "email4Pass", 'Первый email - пароль')(value=(docs && docs.email4Pass))#email4Pass

                        h5 WEBSMS
                        p.card-category 
                            | Подробнее  
                            a(href="https://websms.by/") можно узнать здесь
                        +field('text', "smsAPILogin", 'Login')(value=(docs && docs.smsAPILogin))#websmsLogin
                        +field('text', "smsAPIKey", 'API-key')(value=(docs && docs.smsAPIKey))#websmsKey
                        +field('text', "smsAPIName", 'От этого имени придут смс')(value=(docs && docs.smsAPIName))#websmsName
                        +field('text', "smsAPISecretCode", 'Секретный код подтверждения')(value=(docs && docs.smsAPISecretCode))#websmsSecretCode
                
            .col-md-6        
                .row  
                    +simpleCard('Технические вещи', 12)
                        h5 reCAPTCHA
                        +infoBlock 
                            | Ключ 
                            a.text-white(href="https://www.google.com/recaptcha/admin") можно узнать тут
                        +field('text', "reSiteKey", 'Ключ')(value=(docs && docs.reSiteKey))#reSiteKey
                        h5 Tokens
                        +field('text', "clientAppName", 'clientAppName')(value=(docs && docs.clientAppName))#clientAppName
                        +field('text', "clientAppSecret", 'clientAppSecret')(value=(docs && docs.clientAppSecret))#clientAppSecret
                        h5 Amazone S3
                        +field('text', "s3AccessKeyId", 'AccessKeyId')(value=(docs && docs.s3AccessKeyId))#s3AccessKeyId
                        +field('text', "s3SecretAccessKey", 'SecretAccessKey')(value=(docs && docs.s3SecretAccessKey))#s3SecretAccessKey
                        +field('text', "s3Hostname", 'Hostname')(value=(docs && docs.s3Hostname))#s3Hostname
block scripts