extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'examresults';
  - var menuSection = 'exams';

block content
    .row
        .col.text-right
            +statsCalculate()
    .row
        .col-xl-12
            .row
                .col-sm-8
                    h2 Результаты экзаменов
    .row
        +simpleCard('По предметам', 6)
            
            - var subjectStatMap = {} 
            - for (var i = 0; i < subjectStats.result.length; i++) {
            -    subjectStatMap['' + subjectStats.result[i].subject] = subjectStats.result[i]
            -}
            .table-responsive
                table.table.table-hover
                    tbody
                        each doc, index in subjects
                            tr
                                td  
                                    p
                                        span.h6 #{doc.name}
                                    if (doc.totalUploaded)
                                        p
                                            strong Зачисление готово

                                    - var stat = subjectStatMap[''+doc._id]

                                    p(style="margin-bottom: 0")
                                        | Проходной:&nbsp;<b>#{stat.pass}</b> Min:&nbsp;<b>#{stat.min}</b> Max:&nbsp;<b>#{stat.max}</b>
                                    p(style="margin-bottom: 0") Всего зарегистрировано:&nbsp;#{stat.countTotal} Олимпиадников: #{stat.subjectOlymp} Отсутсвующих: #{stat.subjectOlymp}
                                    p(style="margin-bottom: 0") Профили: #{stat.profileNames.join(', ')}
                                td
                                    .form-group
                                        a.btn.btn-info.btn-magnify(href="/admin/pupils/subjects/results/"+doc.id) 
                                            span.btn-label
                                                i.fas.fa-poll
                                            | #{'  '}На проверку
                                    .form-group
                                        a.btn.btn-primary.btn-magnify(href="/admin/pupils/examresults/subject/#{doc.id}", target="_blank") 
                                            span.btn-label
                                                i.far.fa-list-alt
                                            | #{'  '}Посмотреть результаты
                                    

        +simpleCard('По профилям', 6) 
            .table-responsive
                table.table.table-hover
                    tbody
                        each doc, index in profiles
                            tr
                                td  
                                    p
                                        span.h6 #{doc.name}
                                td
                                    .form-group
                                        a.btn.btn-primary.btn-magnify(href="/admin/pupils/examresults#/page=1&itemsPerPage=30&sort=firstName-asc&profile=#{doc.id}", target="_blank") 
                                            span.btn-label
                                                i.far.fa-list-alt
                                            | #{'  '}Посмотреть результаты
                                    if (doc.totalUploaded)
                                        p
                                            strong Зачисление готово
                                    p
                                        | Проходной:&nbsp;#{doc.passT}
                                        br
                                        | Полупроходной:&nbsp;#{doc.halfpass}
                                        br
                                        | С&nbsp;полупроходным:&nbsp;#{doc.halfPupils}
                                        br
                                    | Дельта:&nbsp;#{doc.halfDelta}
                                    p pass:#{doc.passT} min:#{doc.minT} max:#{doc.maxT}
                                     
                                    