extends ../adminLayout

block content
    div.page-header
        h1 Список профилей
        a.btn.btn-primary(href='/admin/pupils/profiles/create') Добавить профиль
    table.table.table-hover
        tr
            th Название
            th Место
            th I экзамен
            th II экзамен
            th Сумма
            th Статистика
            th
        - each doc in docs
            tr
                td  #{doc.name}
                    br
                    | Мест #{doc.ammount}
                    br
                    | Заявлений #{doc.countArray[doc.countArray.length-1] ? doc.countArray[doc.countArray.length-1].count : 0}
                    br
                    | без экзаменов #{doc.olymp}

                td
                    - if(doc.examPlace)
                        | #{doc.examPlace.code}
                        br
                        | #{doc.examPlace.name}
                        br
                        | #{doc.examPlace.address}
                        br
                        | Кабинетов: #{doc.examPlace.audience.length}

                td
                    | pass:#{doc.passF}
                    br
                    | min:#{doc.minF}
                    | max:#{doc.maxF}
                td
                    | pass:#{doc.passS}
                    br
                    | min:#{doc.minS}
                    | max:#{doc.maxS}
                td
                    | pass:#{doc.passT}
                    br
                    |  min:#{doc.minT}
                    |  max:#{doc.maxT}
                td
                    | Проходной:&nbsp;#{doc.passT}
                    br
                    | Полупроходной:&nbsp;#{doc.halfpass}
                    br
                    | С полупроходным:&nbsp;#{doc.halfPupils}
                    br
                    | Дельта:&nbsp;#{doc.halfDelta}
                td
                    a(href="/admin/pupils/profiles/edit/"+doc.id) Редактировать
                    br
                    a(href="/admin/pupils/profiles/delete/"+doc.id) Удалить