include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

extends ../adminLayout
append menuVars
	- var menuPage = 'examresults';
	- var menuSection = 'exams';

block content
	.row
		+pageHeader()
			| Расшифровка и заполнение результатов экзаменов
		.col-md-5.text-right
			a.btn.btn-default.btn-magnify(href="/admin/pupils/profiles/examresults")
				span.btn-label
					i.fa.fa-undo
				| #{'  '}К списку профилей
			a.btn.btn-success.btn-magnify(href="http://localhost:3000/admin/pupils/examresults#/page=1&itemsPerPage=30&sort=firstName-asc&profile=#{profile.id}", target="_blank")
					span.btn-label
						i.far.fa-list-alt
					| #{'  '} Посмотреть результаты	
					

	.row
		.col
			h3 Профиль: #{profile.name}, номер экзамена: #{examNumber}, предмет: #{examNumber === '1' ? profile.firstExamName : profile.secondExamName }
	.row.results-wizard.card-wizard.active
		.col-xl-12
				.wizard-navigation
					ul.nav.nav-pills
						li.nav-item(style="width: 33.3333%;")
							a.nav-link.active(href="/admin/pupils/profiles/results/#{profile._id}/#{examNumber}")
								span.results-wizard-number 1
								i.fas.fa-poll
								| Загрузка результатов
						li.nav-item(style="width: 33.3333%;")
							a.nav-link(href="/admin/pupils/profiles/results/assign/#{id}/#{examNumber}")
								span.results-wizard-number 2
								i.fas.fa-table
								| Расшифровка результатов
						li.nav-item(style="width: 33.3333%;")
							a.nav-link(href="/admin/pupils/resultScans/#{id}/#{examNumber}")
								span.results-wizard-number 3
								i.fas.fa-images
								| Загрузка сканов работ
	.row
		.col
			h4 бланков: #{docs.length || 0}, абитуриентов: #{profile.countArray[profile.countArray.length - 1].count}, олимпиадников: #{profile.olymp}
	.row	
		+simpleCard('Загрузка файлов', 12)
			form(action="/admin/pupils/profiles/results/"+id+"/"+examNumber, method="post", enctype="multipart/form-data")
				.row
					.col-sm-12
						label(for="resultsList") Загрузка csv файла с результатами
						input(type="file", name="csvfile")
					.col-sm-12
						.form-group
							button(type="submit").btn.btn-primary Загрузить
			hr
			form(action="/admin/pupils/profiles/results/addPoints/"+id+"/"+examNumber, method="post", enctype="multipart/form-data")
				.row
					.col-sm-12
						.form-group
							button.btn.btn-success.pull-right.btn-magnify(type="submit")
								span.btn-label
									i.far.fa-save
								| #{'  '}Сохранить дополнительный баллы	
				
				.table-responsive
					table.table.table-hover
						thead.text-primary
							tr
								th Student
								th ID
								th(style="width: 300px") Missed
								th Points
								th Add points
								th Всего
								th Image
						tbody		
							each doc, index in docs
								tr
									td #{doc.Class}	
									td 
										h3 #{doc.ID}	
									td #{doc.Missed}
									td
										span(style="font-size: 1.5em") 
											nobr #{doc.Points} / #{doc.Possible}
									td 
										.form-group
											input.form-control(
												type="number",
												value="#{doc.AdditionalPoints}"
												name="addpoints[#{doc._id}]")
									td 
										span(style="font-size: 1.7em")
											| #{doc.Points + (doc.AdditionalPoints || 0)}
									
									td
										if(doc.scans && doc.scans.length > 0)
											a.resultScanImgContainer(href='/admin/pupils/resultScans/#{doc.scans[doc.scans.length - 1].filename}', target="_blank")
												img.resultScanImg(src='/admin/pupils/resultScans/small_#{doc.scans[doc.scans.length - 1].filename}')
											if (doc.scans.length > 1)
												.alert.alert-danger
													span
														b Сканов с таким ID - #{doc.scans.length}

										else
											.alert.alert-warning
												span
													b Нет картинки

block scripts
	script(src='/javascripts/Luminous.min.js')
