extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'places';
  - var menuSection = 'exams';

block content
    +listHeader('Рассадка')
    .row
        .col-xl-8
            .row
                +simpleCard('Рассадка по экзаменам', 12)
                    .table-responsive
                        table.table.table-hover
                            thead.text-primary
                                tr
                                    th #
                                    th Дата
                                    th Generated
                                    th Saved
                                    th Показать адрес
                                    th Показать аудиторию
                                    th
                                    th
                            tbody   
                                each examDate, index in examDates
                                    - var date = new Date(examDate.date)
                                    tr
                                        td #{index + 1}
                                        td <b>#{date.format('dd.MM.yyyy')}</b>
                                            br
                                            | #{date.dayToString()} - #{examDate.time}

                                        td 
                                            if (seedsMap[index])
                                                | #{seedsMap[index].generatedDate.format('hh:mm dd.MM.yyyy')}
                                        td  
                                            if (seedsMap[index])
                                                | #{seedsMap[index].savedDate.format('hh:mm dd.MM.yyyy')}
                                        td
                                            if (seedsMap[index] && seedsMap[index].savedDate)
                                                if (seedsMap[index].visible)
                                                    a.btn.btn-danger.btn-magnify(href='/admin/pupils/examseeds/seedApp/api/disable/' + index)
                                                        span.btn-label
                                                            i.fa.fa-eye-slash
                                                        | #{'  '} Выключить
                                                else
                                                    a.btn.btn-info.btn-magnify(href='/admin/pupils/examseeds/seedApp/api/enable/' + index)
                                                        span.btn-label
                                                            i.fa.fa-eye
                                                        | #{'  '} Включить
                                        td
                                            if (seedsMap[index] && seedsMap[index].visible)
                                                if (seedsMap[index].visibleAuditorium)
                                                    a.btn.btn-danger.btn-magnify(href='/admin/pupils/examseeds/seedApp/api/disableAuditorium/' + index)
                                                        span.btn-label
                                                            i.fa.fa-eye-slash
                                                        | #{'  '} Выключить
                                                else
                                                    a.btn.btn-info.btn-magnify(href='/admin/pupils/examseeds/seedApp/api/enableAuditorium/' + index)
                                                        span.btn-label
                                                            i.fa.fa-eye
                                                        | #{'  '} Включить
                                        td 
                                            a.btn.btn-primary.btn-magnify(href='/admin/pupils/examseeds/seedApp/' + index)
                                                span.btn-label
                                                    i.fa.fa-random
                                                | #{'  '} Рассадить
                                        td
                                            if (seedsMap[index])
                                                a.btn.btn-link.btn-magnify(href='/admin/pupils/examseeds/seedApp/lists/' + index)
                                                    span.btn-label
                                                        i.fa.fa-list
                                                    | #{'  '} Списки
                                                br
                                                a.btn.btn-link.btn-magnify(href='/admin/pupils/examseeds/seedApp/csvexport/' + index + '/' + date.format('dd.MM.yyyy') + '-' + examDate.time + '.csv' )
                                                    span.btn-label
                                                        i.fas.fa-file-csv
                                                    | #{'  '} .csv
                                                


                
                
        .col-xl-4
            //- .row
            //-     +simpleCard('Дополнительно', 12)
            //-         //.form-group.text-right
            //-             a.btn.btn-warning(href='/admin/pupils/places/showSeats/1', disabled=siteConfig.showExamSeats1) Включить рассадку 1 экзамена
            //-             &nbsp;
            //-             a.btn.btn-warning(href='/admin/pupils/places/showSeats/2', disabled=siteConfig.showExamSeats2) Включить рассадку 2 экзамена
            //-             &nbsp;
            //-             a.btn.btn-danger(href='/admin/pupils/places/hideSeats') Скрыть рассадку
                    
            //-         h5 Данные для ручной массовой рассылки писем с аудиториями
            //-         .form-group.text-right
            //-             a.btn.btn-info(href='/admin/pupils/places/1/seats-email-export.csv') .csv для 1 экзамена 
            //-             &nbsp;
            //-             a.btn.btn-info(href='/admin/pupils/places/2/seats-email-export.csv') .csv для 2 экзамена 
            .row
                include  ./partials/subjectsTable
    
    .row
            +simpleCard('Список мест', 12)
                    .text-right
                        +addNewDocBtn('Добавить место', '/admin/pupils/examseeds/create')
                    .table-responsive
                        table.table.table-hover
                            thead.text-primary
                                tr
                                    th.text-center #
                                    th Код
                                    th(style="width: 60%") Название / Адрес / Аудитории
                                    th Всего
                                    th.text-right Действия
                            tbody    
                                each doc, index in docs
                                    - var totalMax = 0;
                                    - for (var i = 0; i < doc.audience.length; i++) {
                                    -   totalMax += doc.audience[i].max
                                    - }
                                    tr
                                        td.text-center= index+1
                                        td  #{doc.code}
                                        td 
                                            -var adressArray = doc.address.split('&');
                                            each name, index in doc.name.split('&')
                                                p(style="margin-bottom:0") <b>#{name}</b> #{adressArray[index]} 
                                                p(style="margin-bottom:0") Аудитории: 
                                                p
                                                    each audience in doc.audience
                                                        -var code = +audience.name.split('_')[0]
                                                        -var name = audience.name.split('_')[1]
                                                        if (code == index)
                                                            nobr(style="margin-right:10px") #{name}#{audience.bel ? ' Бел' :''} - <b>#{audience.max}</b>;
                                        td 
                                            b #{totalMax}
                                               
                                        td.text-right 
                                            a.btn.btn-success.btn-icon.btn-sm(href="/admin/pupils/examseeds/edit/"+doc.id, type='button', rel='tooltip', data-original-title='Редактировать', title='Редактировать')
                                                i.fa.fa-edit
                                            | #{' '}    
                                            a.delete-doc-btn.btn.btn-danger.btn-icon.btn-sm(href="/admin/pupils/examseeds/delete/"+doc.id, type='button', rel='tooltip', data-original-title='Удалить', title='Удалить')
                                                i.fa.fa-times      
        

                                        


