extends ../adminLayout

block content
    div.page-header
        h1 Список мест
        a.btn.btn-primary(href='/admin/pupils/places/create') Добавить место
    table.table.table-hover
        tr
            th Код
            th Название
            th Адрес
            th Аудитории
            th
        - each doc in docs
            tr
                td  #{doc.code}
                td  #{doc.name}
                td  #{doc.address}
                td
                    table.table
                        - each audience in doc.audience
                            tr
                                td #{audience.name}
                                td #{audience.max}
                                td #{audience.bel ? 'Бел' :'  '}
                td
                    a(href="/admin/pupils/places/edit/"+doc.id) Редактировать
                    br
                    a(href="/admin/pupils/places/delete/"+doc.id) Удалить