extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'places';
  - var menuSection = 'exams';

block content
    form(method='post', action= method === 'put' ? '/admin/pupils/examseeds/' + doc.id : '/admin/pupils/examseeds' )
        if method === 'put'
            input(type="hidden", name="_method", value="put")
        .row    
            +pageHeader()
                if method === 'put' 
                    | Редактирование места
                else
                    | Новое место
                
            .col-md-5.text-right
                +buttonSet('/admin/pupils/examseeds') 
        .row
            +simpleCard('Основное', 3)
                +field('text', "code", 'Код')(value= doc.code || '')
                +field('text', "name", 'Название')(value= doc.name || '')
                +field('text', "address", 'Адрес')(value= doc.address || '')

                
            +simpleCard('Кабинеты', 4)
                - var totalMax = 0;
                - for (var i = 0; i < doc.audience.length; i++) {
                -   totalMax += doc.audience[i].max
                - }
                .row
                    .col-xl-6
                        b Всего мест #{totalMax}
                    .col-xl-6.text-right
                        .form-group
                            button#addItem.btn.btn-primary Добавить
                .table-responsive
                    table.table.table-hover
                        tbody#audienceTable
                            - each audience, index in doc.audience
                                tr
                                    td
                                        .form-group
                                            label Название:
                                            input.form-control(type='text', name="audience[" + index + "][name]", value= audience.name || '')
                                    td
                                        .form-group
                                            label Влазит:
                                            input.form-control(type='number', name="audience[" + index + "][max]", value= audience.max || 0)
                                    td
                                        .form-group 
                                            label Бел:
                                            br
                                            input.bootstrap-switch(type="checkbox", name="audience[" + index + "][bel]", data-toggle="switch", data-on-label="<i class='nc-icon nc-check-2'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success", checked= audience.bel || false)                 
                                
                                    td
                                        .form-group 
                                            label #{' '}
                                            br
                                            button.delete-btn.btn.btn-danger.btn-icon.btn-sm 
                                                span.btn-label
                                                    i.fa.fa-times
                        tbody(style="display: none;")
                            tr#template
                                td
                                    .form-group
                                        
                                        label Название 
                                        input.name-field.form-control(type='text', name="", value= '')
                                td
                                    .form-group
                                            label Влазит:
                                            input.max-field.form-control(type='number', name="", value= 0)
                                        
                                td
                                    .form-group 
                                            label Бел:
                                            br
                                            input.bel-field(type="checkbox", name="", data-toggle="switch", data-on-label="<i class='nc-icon nc-check-2'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success", checked= false)                 
                                
                                td
                                    .form-group 
                                        label #{' '}
                                            span.badge.badge-pill.badge-info New
                                        br
                                        button.delete-btn.btn.btn-danger.btn-icon.btn-sm
                                            span.btn-label
                                                i.fa.fa-times

            +simpleCard('Профили', 5)
                .table-responsive
                        table.table.table-hover
                            thead.text-primary
                                tr
                                    th.text-center #
                                    th Название
                                    th Апрув.
                                    th Олимп.
                                    th Надо мест
                            tbody    
                                each profile, index in profiles
                                    tr
                                        td.text-center= index+1
                                        td #{profile.name}
                                        td #{profile.countArray[profile.countArray.length - 1].count}
                                        td #{profile.olymp}
                                        td
                                            b #{profile.countArray[profile.countArray.length - 1].count - profile.olymp}
block scripts

    script.
        var $audienceTable = $('#audienceTable');
        var $template = $('#template');


        $(document).on('click', '#addItem', addItem);
        $(document).on('click', '.delete-btn', deleteItem);

        function deleteItem(e) {
            e.preventDefault();
            var $btn = $(e.currentTarget);
            var $row = $btn.parents('tr');
            $row.remove();

            $audienceTable.find('tr').each(function (index, element) {
                var $row = $(element);
                setAttrs($row, index);
            });
        }

        function setAttrs($row, index) {
            $row.attr('id', 'data-row-' + index);

            $row
                .find('.name-field')
                .attr('name', 'audience[' + index + '][name]')
            $row
                .find('.max-field')
                .attr('name', 'audience[' + index + '][max]');
            $row
                .find('.bel-field')
                .attr('name', 'audience[' + index + '][bel]');
            $row
                .find('.bel-field').each(function() {
                    $this = $(this);
                    data_on_label = $this.data('on-label') || '';
                    data_off_label = $this.data('off-label') || '';

                    $this.bootstrapSwitch({
                    onText: data_on_label,
                    offText: data_off_label
                    });
                }); 

        }

        function addItem(e) {
            e.preventDefault();
            var $newRow = $template.clone();
            var num = $audienceTable.find('tr').length;

            setAttrs($newRow, num);

            $newRow.appendTo($audienceTable)
        }