extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
	- var menuPage = 'cash';
	- var menuSection = 'cash';
block content
	.row    
		+pageHeader()
			| Вот что в кэше
		.col-xl-5.text-right
			a.btn.btn-info.btn-move-left(href='/admin/cash/deleteAll')
				span.btn-label
					i.fas.fa-broom
				| #{'  '}Почистить всё
			
	.row
		+mainCard('Страницы в кэше')
			.table-responsive
				table.table.table-hover
					tr
						th Ссылка
						th Последнее изменеие в
						th Добавлено в кэш
						th За это время просмотров:
						th
					each n in docs
						tr
							td= n.name
							td= n.updatedAt.format('dd-MM-yyyy hh:mm:ss')
							td= n.addedToCash.format('dd-MM-yyyy hh:mm:ss')
							td= n.counter
							td
							a(href="/admin/cash/" + n.name.replace(/\//g, '%2F') + "/delete") Удалить
		+simpleCard('Времена старта сервера', 4)
			.table-responsive
				table.table.table-hover
					each n in starts
						tr
							td!= (new Date(n)).format('dd-MM-yyyy hh:mm:ss')