include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards
include ../stuff/adminIntarface/lang-selector-tabs-nav

extends ../adminLayout
append menuVars
  - var menuPage = 'pupils';
  - var menuSection = 'exams'

block content
    form.form-horizontal(method='post')
        input(type="hidden", name='return_query', value=query)
        .row    
            +pageHeader()
                | Абитуриент
            .col-xl-5.text-right
                .form-group
                    button.btn.btn-info.btn-move-left(type='submit', name="action", value='pupil_return')
                        span.btn-label
                            i.fas.fa-arrow-left
                        | #{'  '}К списку
                    | #{' '}
                    button.btn.btn-default(type='submit', name="action", value='pupil_save') Просто сохранить 
                    | #{' '}
                    button.btn.btn-default.btn-move-right(type='submit', name="action", value='pupil_save_next') 
                        | Просто сохранить #{'  '}
                        span.btn-label
                            i.fas.fa-arrow-right

        .row
            +simpleCard('Информация', 4)
                .row    
                    label.col-sm-3.col-form-label Создан: 
                    .col-sm-9
                        .form-group
                            p.form-control-static #{doc.created.format('dd MM yyyy, hh:mm:ss')}
                +field('text', "firstName", 'Фамилия')(value= doc.firstName || '')
                +field('text', "lastName", 'Имя')(value= doc.lastName || '') 
                +field('text', "parentName", 'Отчество')(value= doc.parentName || '')
                .row    
                    label.col-sm-3.col-form-label Регион:
                    .col-sm-9
                        .form-group
                            select.form-control(name='region')
                                option(value=undefined) Выберите регион
                                option(value="г. Минск", selected=(doc.region === "г. Минск")) г. Минск
                                option(value="Минская область", selected=(doc.region === "Минская область")) Минская область
                                option(value="Брестская область", selected=(doc.region === "Брестская область")) Брестская область
                                option(value="Витебская область", selected=(doc.region === "Витебская область")) Витебская область
                                option(value="Гомельская область", selected=(doc.region === "Гомельская область")) Гомельская область
                                option(value="Гродненская область", selected=(doc.region === "Гродненская область")) Гродненская область
                                option(value="Могилевская область", selected=(doc.region === "Могилевская область")) Могилевская область
                                option(value="Иностранный гражданин", selected=(doc.region === "Иностранный гражданин")) Иностранный гражданин
                +field('text', "email", 'email')(value= doc.email || '')
                .row    
                    label.col-sm-3.col-form-label Телефон:
                    .col-sm-9
                        .form-group
                            p.form-control-static #{doc.phone} #{'  '}
                                if doc.codeValid
                                    span.badge.badge-pill.badge-success подтвержден
                                else
                                    span.badge.badge-pill.badge-danger не подтвержден
                                br
                                span.description Код подтверждения: #{doc.phoneCode}

                .row
                    label.col-sm-3.col-form-label Курсы:
                    .col-sm-9.checkbox-radios
                        .form-check
                            label.form-check-label
                                input.form-check-input(type="checkbox", name='night', checked=(doc.night))
                                span.form-check-sign
                                | Вечерний Лицей
                        .form-check
                            label.form-check-label
                                input.form-check-input(type="checkbox", name='distant', checked=(doc.distant))
                                span.form-check-sign
                                | Дистанционные курсы
                   
                h5 Профиль
                    | (#{profile ? profile.name : 'Еще не выбран профиль'})
                       
                +field('select', "profile", 'Выбрать профиль', profiles, profile ? '' + profile._id : '')(value= profile ? '' + profile._id : '')#profile
                +field('select', "diplomExamName", 'Предмет для диплома', subjects, doc.diplomExamName)(value= doc.diplomExamName || '')#diplomExamName
                
                .row
                    .col-md-12
                        #diplomAlert.alert.alert-danger.alert-with-icon(role="alert", style="display: none") 
                            span.fas.fa-exclamation-triangle(data-notify="icon")
                            | А вот и нельзя апрувнуть, если у чувака есть диплом, а предмет диплома не выбран
                        .form-group.text-right
                            button#approveBtn.btn.btn-success(type='submit', name="action", value='pupil_approve') 
                                | Подтвердить заявку
                            | #{' '}
                            button#approveBtn.btn.btn-success.btn-move-right(type='submit', name="action", value='pupil_approve_next') 
                                | Подтвердить заявку #{'  '}
                                span.btn-label
                                    i.fas.fa-arrow-right

            +simpleCard('Изображения', 4)
                h5 Справка
                if (doc.requestImg)
                    if (doc.requestImg.substr(doc.requestImg.lastIndexOf('.') + 1) === 'pdf')
                        br
                        a(href="/images/pupils/#{doc.requestImg}", title="pdf. файл", target="_blank") файл справки
                    else
                        div
                            img#requestImg.img-responsive(src="/images/pupils/#{doc.requestImg}")

                        div.controls.request
                            a#rotate_left(href="#", title="Rotate left")
                                i.fas.fa-undo
                            a#zoom_out(href="#", title="Zoom out")
                                i.fa.fa-search-minus
                            a#fit(href="#", title="Fit image")
                                i.fa.fa-arrows-alt
                            a#zoom_in(href="#", title="Zoom in")
                                i.fa.fa-search-plus
                            a#rotate_right(href="#", title="Rotate right")
                                i.fas.fa-redo
                else
                    p Не загружена

                if doc.diplomImg
                    br
                    br
                    h5 Диплом
                    if (doc.diplomImg.substr(doc.diplomImg.lastIndexOf('.') + 1) === 'pdf')
                        br
                        a(href="/images/pupils/#{doc.diplomImg}", title="pdf. файл", target="_blank") файл диплома
                    else
                        div
                            img#diplomImg.img-responsive(src="/images/pupils/#{doc.diplomImg}")
                        div.controls.diplom
                            a#rotate_left(href="#", title="Rotate left")
                                i.fas.fa-undo
                            a#zoom_out(href="#", title="Zoom out")
                                i.fa.fa-search-minus
                            a#fit(href="#", title="Fit image")
                                i.fa.fa-arrows-alt
                            a#zoom_in(href="#", title="Zoom in")
                                i.fa.fa-search-plus
                            a#rotate_right(href="#", title="Rotate right")
                                i.fa.fas.fa-redo
            .col-xl-4
                .row
                    +simpleCard('Статус', 12)
                        .alert.alert-success
                            span
                                b= doc.status
                        label Автоматическое зачисление
                        +field('checkboxSimple', "recommended", 'Зачислен')(checked=(doc.recommended)) 
                .row    
                    +simpleCard('Действия', 12)
                        .row
                            label.col-sm-3.col-form-label Справка:
                            .col-sm-9.checkbox-radios
                                +field('checkboxSimple', "requestImgNotApproved", 'НЕ подошла')(checked=(doc.requestImgNotApproved))
                                +field('checkboxSimple', "requestImgNoPhoto", 'Нет фотографии на справке')(checked=(doc.requestImgNoPhoto))
                                +field('checkboxSimple', "requestImgLowQuality", 'Слишком плохое качество')(checked=(doc.requestImgLowQuality))
                                +field('checkboxSimple', "requestImgStampError", 'Печать не на фото')(checked=(doc.requestImgStampError))
                                +field('checkboxSimple', "diplomImgNotApproved", 'Диплом НЕ прокатил')(checked=(doc.diplomImgNotApproved))
                        +field('textarea', "message", 'Сообщение для абитуриента')(value= doc.message || '').form-control(rows="5")
                        .row
                            .col-md-12
                                .form-group.text-right
                                    button.btn.btn-danger(type='submit', name="action", value='pupil_disapprove') Отклонить заявку
                                    | #{' '}
                                    button.btn.btn-danger.btn-move-right(type='submit', name="action", value='pupil_disapprove_next') 
                                        | Отклонить заявку #{'  '}
                                        span.btn-label
                                            i.fas.fa-arrow-right

                        .row
                            .col-md-6
                            .col-md-6.text-right
                                .form-group
                                    button#deleteUser.btn.btn-warning.btn-magnify(type='submit', name="action", value='pupil_delete') 
                                        span.btn-label
                                            i.fas.fa-user-slash
                                        |  #{'  '}Удалить!!! 
 block scripts
    script(src="/javascripts/guillotine/jquery.guillotine.min.js")

    script.
        var hasDiplom = '#{doc.diplomImg}';
        var btn = document.getElementById('approveBtn');
        var exam = document.getElementById('diplomExamName');
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        var camelize = function () {
            var regex = /[\W_]+(.)/g
            var replacer = function (match, submatch) {
                return submatch.toUpperCase()
            }
            return function (str) {
                return str.replace(regex, replacer)
            }
        }()

        var picture = $('#requestImg');  // Must be already loaded or cached!
        picture.on('load', function() {
            picture.guillotine();
            picture.guillotine('fit');
        });


        var diplomImg = $('#diplomImg');  // Must be already loaded or cached!
        diplomImg.on('load', function () {
            diplomImg.guillotine();
            diplomImg.guillotine('fit');
        });
        
        $(document).on('click', '#deleteUser', function(e){
                const deleteUrl = $(this).attr('href');
                e.preventDefault();
                console.log($(this).attr('href'), e)
                swalWithBootstrapButtons.fire({
                    title: 'Вы уверены?',
                    text: "Если нажать 'Ок', то произойдет безвозвратное удаление",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'Нет, не удалять',
                    reverseButtons: true
                  }).then((result) => {
                    if (result.value) {
                        $(document).off('click', '#deleteUser')
                        $('#deleteUser').click()
                        //window.location.pathname = deleteUrl;
                    } else if ( result.dismiss === Swal.DismissReason.cancel ) {
                      swalWithBootstrapButtons.fire(
                        'Удаление отменено!',
                        'Уфф.. спасли от удаления всё же..',
                        'error'
                      )
                    }
                  })
            })

        $('.controls.request a').click(function (e) {
            e.preventDefault()
            action = camelize(this.id)
            picture.guillotine(action)
        });
        $('.controls.diplom a').click(function (e) {
            e.preventDefault()
            action = camelize(this.id)
            diplomImg.guillotine(action)
        })

        if (hasDiplom) {
            btn.addEventListener('click', function (e) {
                if (!exam.value) {
                    e.preventDefault();
                    $('#diplomAlert').fadeIn()
                    /*document.getElementById('diplomAlert').style.display = 'block';
                    document.getElementById('diplomAlert').classList.remove('hide')
                    document.getElementById('diplomAlert').classList.add('show')*/
                }
            });

            exam.addEventListener('change', function (e) {
                if (exam.value) {
                    $('#diplomAlert').fadeOut()
                }
            });
        }