include ../stuff/mixins/form-helper
extends ../adminLayout

block content
    div.page-header
        h1 Абитуриент
    div.row
        form.col-sm-4(method='post')
            input(type="hidden", name='return_query', value=query)
            ul.list-group
                li.list-group-item.row
                    +field('text', "firstName", 'Фамилия')(value= doc.firstName || '')
                li.list-group-item.row
                    +field('text', "lastName", 'Имя')(value= doc.lastName || '')
                li.list-group-item.row
                    +field('text', "parentName", 'Отчество')(value= doc.parentName || '')
                li.list-group-item.row
                    .col-md-12
                        .form-group
                            label.col-md-12 Регион:
                            select.form-control(name='region')
                                option(value=undefined) Выберите регион
                                option(value="г. Минск", selected=(doc.region === "г. Минск")) г. Минск
                                option(value="Минская область", selected=(doc.region === "Минская область")) Минская область
                                option(value="Брестская область", selected=(doc.region === "Брестская область")) Брестская область
                                option(value="Витебская область", selected=(doc.region === "Витебская область")) Витебская область
                                option(value="Гомельская область", selected=(doc.region === "Гомельская область")) Гомельская область
                                option(value="Гродненская область", selected=(doc.region === "Гродненская область")) Гродненская область
                                option(value="Могилевская область", selected=(doc.region === "Могилевская область")) Могилевская область
                                option(value="Иностранный гражданин", selected=(doc.region === "Иностранный гражданин")) Иностранный гражданин
                li.list-group-item.row
                    .col-md-12
                        .form-group= doc.email
                        .form-group
                            | Телефон: #{doc.phone} #{doc.codeValid ? 'подтвержден' : 'не подтвержден'}
                            br
                            | Код подтверждения: #{doc.phoneCode}
                li.list-group-item.row
                    .col-md-12
                        .form-group= doc.created
                li.list-group-item.row
                    .col-md-12
                        h2.form-group.bg-danger= doc.status
                li.list-group-item.row
                    +field('checkbox', "night", 'Вечерний Лицей')(checked=(doc.night))
                li.list-group-item.row
                    +field('checkbox', "distant", 'Дистанционные курсы')(checked=(doc.distant))
                li.list-group-item.row
                    .col-md-12
                        h5 профиль
                        h4= profile ? profile.name : 'Еще не выбран профиль'
                    +field('select', "profile", 'Выбрать профиль', profiles, profile ? '' + profile._id : '')(value= profile ? '' + profile._id : '')#profile
                li.list-group-item.row
                    +field('select', "diplomExamName", 'Предмет для диплома', subjects, doc.diplomExamName)(value= doc.diplomExamName || '')#diplomExamName
            .row
                .col-md-12
                    div#diplomAlert.alert.alert-danger(role="alert", style="display:none") А вот и нельзя апрувнуть, если у чувака есть диплом, а предмет диплома не выбран
                    .form-group
                        button#approveBtn.btn.btn-success(type='submit', name="action", value='pupil_approve') Подтвердить заявку
            hr
            .row
                +field('checkbox', "requestImgNotApproved", 'Справка НЕ подошла')(checked=(doc.requestImgNotApproved))
                +field('checkbox', "requestImgNoPhoto", 'Справка: Нет фотографии на справке')(checked=(doc.requestImgNoPhoto))
                +field('checkbox', "requestImgLowQuality", 'Справка: Слишком плохое качество')(checked=(doc.requestImgLowQuality))
                +field('checkbox', "requestImgStampError", 'Справка: Печать не на фото')(checked=(doc.requestImgStampError))
                +field('checkbox', "diplomImgNotApproved", 'Диплом НЕ прокатил')(checked=(doc.diplomImgNotApproved))
                +field('textarea', "message", 'Сообщение для абитуриента')(value= doc.message || '').form-control(rows="5")
                .col-md-12
                    .form-group
                        button.btn.btn-danger(type='submit', name="action", value='pupil_disapprove') Отклонить заявку


            hr

            .row
                .col-md-6
                    .form-group
                        button.btn.btn-warning(type='submit', name="action", value='pupil_return') Вернуться без сохранения
                .col-md-6
                    .form-group
                        button.btn.btn-default(type='submit', name="action", value='pupil_save') Просто сохранить
            hr
            .row
                .col-md-6
                .col-md-6.text-right
                    .form-group
                        button.btn.btn-info(type='submit', name="action", value='pupil_delete') Удалить!!!            

        .col-sm-8
            label Справка
            if (doc.requestImg)
                if (doc.requestImg.substr(doc.requestImg.lastIndexOf('.') + 1) === 'pdf')
                    br
                    a(href="/images/pupils/#{doc.requestImg}", title="pdf. файл", target="_blank") файл справки
                else
                    div(style="width: 80%")
                        img#requestImg.img-responsive(src="/images/pupils/#{doc.requestImg}")

                    div.controls.request
                        a#rotate_left(href="#", title="Rotate left")
                            i.fa.fa-rotate-left
                        a#zoom_out(href="#", title="Zoom out")
                            i.fa.fa-search-minus
                        a#fit(href="#", title="Fit image")
                            i.fa.fa-arrows-alt
                        a#zoom_in(href="#", title="Zoom in")
                            i.fa.fa-search-plus
                        a#rotate_right(href="#", title="Rotate right")
                            i.fa.fa-rotate-right

            if doc.diplomImg
                hr
                label Диплом
                if (doc.diplomImg.substr(doc.diplomImg.lastIndexOf('.') + 1) === 'pdf')
                    br
                    a(href="/images/pupils/#{doc.diplomImg}", title="pdf. файл", target="_blank") файл диплома
                else
                    div(style="width: 80%")
                        img#diplomImg.img-responsive(src="/images/pupils/#{doc.diplomImg}")
                    div.controls.diplom
                        a#rotate_left(href="#", title="Rotate left")
                            i.fa.fa-rotate-left
                        a#zoom_out(href="#", title="Zoom out")
                            i.fa.fa-search-minus
                        a#fit(href="#", title="Fit image")
                            i.fa.fa-arrows-alt
                        a#zoom_in(href="#", title="Zoom in")
                            i.fa.fa-search-plus
                        a#rotate_right(href="#", title="Rotate right")
                            i.fa.fa-rotate-right

    script(src = '/javascripts/jquery.js')
    script(src="/javascripts/guillotine/jquery.guillotine.min.js")

    script.
        var hasDiplom = '#{doc.diplomImg}';
        var btn = document.getElementById('approveBtn');
        var exam = document.getElementById('diplomExamName');

        var camelize = function () {
            var regex = /[\W_]+(.)/g
            var replacer = function (match, submatch) {
                return submatch.toUpperCase()
            }
            return function (str) {
                return str.replace(regex, replacer)
            }
        }()

        var picture = $('#requestImg');  // Must be already loaded or cached!
        picture.on('load', function() {
            picture.guillotine();
            picture.guillotine('fit');
        });


        var diplomImg = $('#diplomImg');  // Must be already loaded or cached!
        diplomImg.on('load', function () {
            diplomImg.guillotine();
            diplomImg.guillotine('fit');
        });


        $('.controls.request a').click(function (e) {
            e.preventDefault()
            action = camelize(this.id)
            picture.guillotine(action)
        });
        $('.controls.diplom a').click(function (e) {
            e.preventDefault()
            action = camelize(this.id)
            diplomImg.guillotine(action)
        })

        if (hasDiplom) {
            btn.addEventListener('click', function (e) {
                if (!exam.value) {
                    e.preventDefault();
                    document.getElementById('diplomAlert').style.display = 'block';
                }
            });

            exam.addEventListener('change', function (e) {
                if (exam.value) {
                    document.getElementById('diplomAlert').style.display = 'none';
                }
            });
        }