include ./partials/dateFormat
include ./partials/space

- var dateNow = new Date();
- var regDate = new Date(siteConfig.registrationEndDate);
- var stopDate = new Date(siteConfig.confirmationEndDate);

div#startView.visibleView
    if (dateNow < stopDate)
        p
            | Для участия в приемной кампании необходимо указать ряд сведений: фамилию, имя и т.д; закачать <b>фото</b> справки из школы в соответствующее поле.
        p
            | В случае если ты победил на заключительном этапе республиканской предметной олимпиады, ты можешь закачать изображение диплома I,II или III степени и быть рекомендованным к зачислению в Лицей БГУ без экзаменов*.


        if (dateNow <= regDate)
            p
                | И помни, документы можно подать до <strong>#{prettyDate(siteConfig.registrationEndDate)}</strong>!
        if (dateNow > regDate && dateNow < stopDate)
            p
                | И помни, документы можно подать до <strong>#{prettyDate(siteConfig.confirmationEndDate)}</strong>!

        p
            small *Ознакомься с пунктом #{siteConfig.rulesOlympPoint} <a href="#{siteConfig.rulesLink}" target="_blank" title="Правила приёма">правил приёма</a>, для того чтобы знать на какой профиль ты можешь поступить без экзаменов.

        div.style-green
            h3 Заявка на участие во вступительных испытаниях
            if (profile && user.firstName && user.lastName && user.parentName && user.region && user.requestImg && typeof user.night !== 'undefined' && typeof user.distant !== 'undefined')
                h4 Теперь, когда все поля заполнены, можно, наконец, отправить нам заявку.
                h4 Для этого нажмите большую кнопку внизу и следуйте дальнейшим указаниям.
            hr.colored
            div.settings-list

                include ./partials/profileSetting

                include ./partials/fioSettings

                include ./partials/phoneSettings

                include ./partials/regionSettings

                include ./partials/requestSettings

                include ./partials/additionalSetting

                include ./partials/diplomSettings

            if (profile && user.firstName && user.lastName && user.parentName && user.phone && user.codeValid && user.region && user.requestImg && typeof user.night !== 'undefined' && typeof user.distant !== 'undefined')
                button#sendRequestBtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Подать заявку
            else
                p Чтобы подать заявку надо заполнить всё
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(disabled) Подать заявку
    else
        h4
            | К сожалению, регистрация для участия во вступительных экзаменах закончилась.
        h3
            | Вы не успели подать заявку.
    br
    include ./partials/attantion
    br

    include ./partials/settings

    section.view-dialog-content

        include ./partials/profileDialog

        div#fio
            h3.mdl-dialog__title ФИО
            div.mdl-dialog__content
                div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#newFirstNameInput.form-input.mdl-textfield__input(type="text", value=(user.firstName), pattern="^[а-яА-ЯёЁ_ ]+$")
                    label.mdl-textfield__label(for="newFirstNameInput") Фамилия
                    span.error-message.mdl-textfield__error Заплоните поле не латинскими символами!
                div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#newLastNameInput.form-input.mdl-textfield__input(type="text", value=(user.lastName), pattern="^[а-яА-ЯёЁ_ ]+$")
                    label.mdl-textfield__label(for="newLastNameInput") Имя
                    span.error-message.mdl-textfield__error Заплоните поле не латинскими символами!
                div.form-input-group.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#newParentNameInput.form-input.mdl-textfield__input(type="text", value=(user.parentName), pattern="^[а-яА-ЯёЁ_ ]+$")
                    label.mdl-textfield__label(for="newParentNameInput") Отчество
                    span.error-message.mdl-textfield__error Заплоните поле не латинскими символами!

        include ./partials/requestImgDialog

        include ./partials/diplomDialog

        include ./partials/additionalDialog

        include ./partials/phoneDialog

        div#region
            h3.mdl-dialog__title Адрес (регион) проживания
            div.mdl-dialog__content
                div.form-input-group
                    .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
                        select#regionInput.mdl-selectfield__select(name="regionInput", value="user.region")
                            option(value=undefined) Выберите регион
                            option(value="г. Минск", selected=(user.region === "г. Минск")) г. Минск
                            option(value="Минская область", selected=(user.region === "Минская область")) Минская область
                            option(value="Брестская область", selected=(user.region === "Брестская область")) Брестская область
                            option(value="Витебская область", selected=(user.region === "Витебская область")) Витебская область
                            option(value="Гомельская область", selected=(user.region === "Гомельская область")) Гомельская область
                            option(value="Гродненская область", selected=(user.region === "Гродненская область")) Гродненская область
                            option(value="Могилевская область", selected=(user.region === "Могилевская область")) Могилевская область
                            option(value="Иностранный гражданин", selected=(user.region === "Иностранный гражданин")) Иностранный гражданин
                        label.mdl-selectfield__label(for="regionInput") Адрес (регион) проживания

script(src='/js/pupilViews/new.js')

