mixin appelationInfo(date, examKey, result, examNumber, noResultFlag)
    - var d = new Date();
    - var appDate = date.setHours(0,0,0,0)
    - var currDate = d.setHours(0,0,0,0)
    - var appelationEndDate = date.getTime() + 2 * 24 * 60 * 60 * 1000;

    if (noResultFlag)
        p
            b Результаты экзамена появятся в личном кабинете #{prettyDate(date)} в течение рабочего дня.

        //p
            | Кроме того #{prettyDate(date)} в Лицее БГУ с 14:00 по 17:30 вы можете ознакомиться с результатами проверки вашей работы.
            br
            | В другое время ознакомление с работами <nobr class="underline">не проводится</nobr>.
            br
            | Вход в здание Лицея БГУ в это время осуществляется <span class="underline">по предъявлению документа, удостоверяющего личность</span>.
        p
            | Кроме того #{prettyDate(date)} здесь (в личном кабинете) вы сможете ознакомиться с результатом проверки вашей работы.
    else
        h4 Результат проверки вашей работы:
        if (result.Missed)
            p Вы неправильно ответили на следующие вопросы: 
                br
                | #{result.Missed}
        
        if (scans && scans.length > 0)
            - var scan;
            - for (var i = 0; i < scans.length; i++) {
            -     if (+scans[i].code === +result.ID && scans[i].examNum === examNumber) {
            -         scan = scans[i]
            -     }
            - }
            if (scan)
                p Можно посмотреть на свой бланк ответов и свериться с правильным:
                    br
                    a.getTestFile(href="/api/pupils/get-my-test/#{examNumber}") Скачать свой бланк ответов
                    if (examKey)
                        | #{' и '}
                        a.getTestFileKey(href="#{examKey}", target="_blank") Скачать ключ
                if (siteConfig.appelationFormLink && currDate < appelationEndDate)
                    p Для подачи апелляции перейдите по следующей 
                        a(href="#{siteConfig.appelationFormLink}", target="_blank", title="Форма для аппеляции") ссылке
                        |  (ссылка доступна только до #{prettyDate(new Date(appelationEndDate))} включительно).
        //-small
            p
                | #{prettyDate(date)} в Лицее БГУ состоялось ознакомление с результатами проверки вашей работы.
                br
                | В другое время ознакомление с работами <nobr class="underline">не проводится</nobr>.
