mixin field(type, name, label, options, selected)
    case type
        when 'textarea'
            .form-group
                label.col-md-12 #{label}:
            .col-md-12
                .form-group
                    textarea.form-control(name='#{name}', attributes)
                        block
        when 'select'
            .col-md-12
                .form-group
                    label.col-md-12 #{label}:
                    select.form-control(name='#{name}', attributes)
                        option(value="") ---
                        each obj in options
                            option(value="#{obj.value}", selected=(selected === obj.value)) #{obj.name}
        when 'checkbox'
            .col-md-12
                .checkbox
                    label
                        input(type="checkbox", name='#{name}', attributes)
                        | #{label}

        default
            .col-md-12
                .form-group
                    label #{label}:
                    input.form-control(type='#{type}', name='#{name}', attributes)

mixin buttonSet
    div.row
        div.col-md-12
            input.btn.btn-default(type='submit', value='Save')
