h3 Первый экзамен закончился, впереди второй

if ((profile.firstIsFirst && user.exam1 >= 0) || (!profile.firstIsFirst && user.exam2 >= 0))
    if (profile.firstExamNoStats)
        h4 Ваш результат первого экзамена по предмету #{profile.firstIsFirst ? profile.firstExamName : profile.secondExamName}:
        h3 #{profile.firstIsFirst ? user.exam1 : user.exam2}
    else
        +resultLine(profile, user, 1)
        p
            b *
            | - текущий проходной балл по первому экзамену
        
        +appelationInfo(profile.firstIsFirst ? profile.firstExamAppelationDate : profile.secondExamAppelationDate, false)      
else
    +absent('первый', siteConfig)

hr.dotted

p Напоминаем Вам, что следующий экзамен по предмету
    +space()
    b #{profile.firstIsFirst ? profile.secondExamName : profile.firstExamName }
    +space()
    | пройдет
    +space()
    nobr
        b #{prettyDate(profile.firstIsFirst ? profile.secondExamDate : profile.firstExamDate)}
        +space()
    if (user.place2 && user.place2.address) 
            br
            | по адресу:
            +space()
            | #{user.place2.name},
            +space()
            | #{user.place2.address}
            
            if (siteConfig.showExamSeats2) 
                - var audience = '';
                - for (var i = 0; i < user.place2.audience.length; i++) {
                -   if ('' + user.place2.audience[i]._id === user.audience2) {
                -    audience = user.place2.audience[i].name
                -   }
                - }
                br
                | Вы будете писать экзамен в аудитории <b>#{audience}</b>
            
            br
            | начало экзамена в
            +space()
            b 9:00
