if (user.diplomImg)
    p
        | Вы подали диплом победителя республиканской олимпиады
        +space()
        nobr
            | по предмету <b>#{user.diplomExamName}</b>.
        br
        | К сожалению, мы не можем зачислить вас без экзаменов, так как диплом
        +space()
            | по предмету <b>#{user.diplomExamName}</b>
        +space()
        | не позволяет поступить
        +space()
        nobr
            | на <b class="uppercase">#{profile.name}</b> профиль
        +space()
        | без экзаменов*.
        br
        | Напоминаем, профиль можно поменять до <strong>#{prettyDate(siteConfig.registrationEndDate)}</strong>.
    p
        small *Ознакомьтесь с пунктом #{siteConfig.rulesOlympPoint} <a href="#{siteConfig.rulesLink}" target="_blank" title="Правила приёма">правил приёма</a>, для того чтобы знать на какой профиль вы можете поступить без экзаменов.

h3 Экзамены еще не начались

h4 Напоминаем Вам, что Вас ждут следующие экзамены:
ul
    li
        | Первый экзамен по предмету
        +space()
        b #{profile.firstIsFirst ? profile.firstExamName : profile.secondExamName}
        +space()
        | пройдет
        nobr
            +space()
            b #{prettyDate(profile.firstIsFirst ? profile.firstExamDate : profile.secondExamDate)}
        if (user.place1 && user.place1.address) 
            br
            | по адресу:
            +space()
            | #{user.place1.name},
            +space()
            | #{user.place1.address}
            
            if (siteConfig.showExamSeats1) 
                - var audience = '';
                - for (var i = 0; i < user.place1.audience.length; i++) {
                -   if ('' + user.place1.audience[i]._id === user.audience1) {
                -    audience = user.place1.audience[i].name
                -   }
                - }
                br
                | Вы будете писать экзамен в аудитории <b>#{audience}</b>
            
            br
            | начало экзамена в
            +space()
            b 9:00

    li
        | Второй экзамен по предмету
        +space()
        b #{profile.firstIsFirst ? profile.secondExamName : profile.firstExamName}
        +space()
        | пройдет
        +space()
        b #{prettyDate(profile.firstIsFirst ? profile.secondExamDate : profile.firstExamDate)}
        
        if (user.place2 && user.place2.address) 
            br
            | по адресу:
            +space()
            | #{user.place2.name},
            +space()
            | #{user.place2.address}
            
            if (siteConfig.showExamSeats2) 
                - var audience = '';
                - for (var i = 0; i < user.place2.audience.length; i++) {
                -   if ('' + user.place2.audience[i]._id === user.audience2) {
                -    audience = user.place2.audience[i].name
                -   }
                - }
                br
                | Вы будете писать экзамен в аудитории <b>#{audience}</b>
            
            br
            | начало экзамена в
            +space()
            b 9:00
   
include ./footer