aside.sharearea.style-grey
    hr.dotted
    h2= translate('Поделиться') + ':'
    ul.small
        li#fb-like
            a(href="https://www.facebook.com/sharer.php?u=" + locals.fullUrl, 
                target="_blank", title=translate('Поделиться'))=translate('Поделиться')
        li#vk-like
            a(href="https://vk.com/share.php?url=" + locals.fullUrl, 
                target="_blank", title=translate('Сохранить'))=translate('Сохранить')
        li#tw-like
            a(href="https://twitter.com/intent/tweet?original_referer=" + locals.fullUrl + "text=" + '' +"&tw_p=tweetbutton&url=" + locals.fullUrl + "&via=" + 'lyceumBSU', 
                target="_blank", title=translate('Tweet'))=translate('Tweet')