footer
    - var href
    - var date = new Date()
    if (locals.lang)
        - href = beforeUrl + "/index.html"
    else
        - href = "/"
    a(href=href, title= translate('На главную'))#footer-logo
        img(src="/img/footer-logo.png")
    div.col-1.first
        p 
            | © 2001-#{date.getFullYear()}  #{translate("Лицей БГУ")} 
            br
            | #{translate('Все права защищены.')}
            br
        small(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
            span(itemprop="addressCountry")= translate("Беларусь")
            , 
            span(itemprop="postalCode")= '220030'
            , 
            span(itemprop="addressLocality")= translate("Минск")
            , 
            span(itemprop="streetAddress")= translate("Ульяновская, 8")
            br
            | #{translate("телефон приёмной:")} 
            span(itemprop="telephone")= "2095265"
            , 
            | #{translate("факс:")} 2260050
            br
            | e-mail: 
            a(href="mailto:info@lyceum.by") 
                meta(itemprop="email", content="info@lyceum.by")
                | info@lyceum.by
    include ../menu/footerMenu

    img#herbRB(src="/img/herb-rb.png")

if (siteConfig.showPupilCabinet && (locals.doc && doc.pathAlias === 'abiturientu'))
    include ../results/widgetDialogs

script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit', async, defer)

script(src='/js/script.min.js?timestamp=' + siteConfig.startTime)
if siteConfig.showStats
    script(src='/js/frontStats.js')