footer
    - var href
    - var date = new Date()
    if (locals.lang)
        - href = beforeUrl + "/index.html"
    else
        - href = "/"
    a(href=href, title= translate('На главную'))#footer-logo
        img(src="/img/footer-logo.png")
    div.col-1.first
        p 
            | © 2001-#{date.getFullYear()}  #{translate("Лицей БГУ")} 
            br
            | #{translate('Все права защищены.')}
            br
        small(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
            span(itemprop="addressCountry")= translate("Беларусь")
            , 
            span(itemprop="postalCode")= '220030'
            , 
            span(itemprop="addressLocality")= translate("Минск")
            , 
            span(itemprop="streetAddress")= translate("Ульяновская, 8")
            br
            | #{translate("телефон приёмной:")} 
            span(itemprop="telephone")= "2095265"
            , 
            | #{translate("факс:")} 2260050
            br
            | e-mail: 
            a(href="mailto:info@lyceum.by") 
                meta(itemprop="email", content="info@lyceum.by")
                | info@lyceum.by
    include ../menu/footerMenu

if (siteConfig.showPupilCabinet && (locals.doc && doc.pathAlias == 'abiturientu'))
    dialog#settingsDialog.mdl-dialog
        .modal-settings-container
        .mdl-dialog__actions
            button#saveSettings.mdl-button Сохранить
            button.mdl-button.close-dialog.mdl-button--colored Закрыть

        .cs-loader.loading-start
            div.mdl-spinner.mdl-js-spinner.is-active

    dialog#pupilSettingsDialog.mdl-dialog
        .modal-pupil-settings-container
        .mdl-dialog__actions
            button#savePupilSettings.mdl-button Сохранить
            button.mdl-button.close-dialog.mdl-button--colored Закрыть

        .cs-loader.loading-start
            div.mdl-spinner.mdl-js-spinner.is-active

    dialog#sendRequestDialog.mdl-dialog
        h3.mdl-dialog__title
            | Подать заявку
        .mdl-dialog__content
            h3 Ознакомся с правилами приёма
            h4 (Просмотрите правила приёма до конца)
            div#rulesContainer
                div#rulesContent!= siteConfig.rulesHTML
            .form-input-group
                label#rulesOkLabel.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="rulesOk")
                    input#rulesOk.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label С правилами приёма ознакомлен
                label#rulesOkHelp.visibleView Галочку можно поставить только долистав правила приёма до самого конца.
            br
            p
                | Внимание! Введенная информация будет проверена.
                br
                | После подачи заявления ты не сможешь редактировать личные данные, но сможешь менять профиль.

        .mdl-dialog__actions
            button#saveRequest.mdl-button Отправить
            button.mdl-button.close-dialog.mdl-button--colored Закрыть

        .cs-loader.loading-start
            div.mdl-spinner.mdl-js-spinner.is-active

script(src='http://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit', async, defer)

//-script(src='/javascripts/jquery.js')
script(src='/js/script.js')
if siteConfig.showStats
    script(src='/js/frontStats.js')