if (locals.metatags)
    if locals.metatags.index
        title= translate("Лицей БГУ - Официальный сайт")
        meta(name="title", content=translate("Лицей БГУ - Официальный сайт"))
    if locals.metatags.title
        title= translate("Лицей БГУ") + " | " + translate(locals.metatags.title)
        meta(name="title", content=translate("Лицей БГУ") + " | " + translate(locals.metatags.title))
    meta(name='keywords', content= translate(locals.metatags.keywords))
    meta(name='description', content= translate(locals.metatags.description))
else
    title= translate("Лицей БГУ") + " | " + translateObj(doc.name)
    meta(name="title", content=translate("Лицей БГУ") + " | " + translateObj(doc.name))
    meta(name='keywords', content= translateObj(doc.keywords))
    meta(name='description', content= translateObj(doc.description))
//-link rel="image_src" href="http://mysite.com/mypic.jpg" />
