-function prettyDate(dateString){
    -var d = dateString.getDate();
    -var monthNames = [ "Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря" ];
    -var m = monthNames[dateString.getMonth()];
    -var y = dateString.getFullYear();
    -var dayNames = ["воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота"];
    -var day = dayNames[dateString.getDay()];
    -return d+' '+m;
-}

!!! transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h2.h2 Добрый день, #{param.pupil.firstName} #{param.pupil.lastName}!
            p Вы подали документы для поступления в Лицей БГУ на <b>#{param.pupil.profile.name}</b> профиль.
            
            if (param.examNum === '1')
                - var audience = ''
                - var placeName = param.pupil.place1.name;
                - var placeAddress = param.pupil.place1.address;
                - for (var i = 0; i < param.pupil.place1.audience.length; i++) {
                -     if ('' + param.pupil.place1.audience[i]._id === param.pupil.audience1) {
                -         audience= param.pupil.place1.audience[i].name
                -     }
                - }

                - if (audience.indexOf('_') > -1) {
                -   var splitted = audience.split('_');
                -   audience = splitted[1];
                -   placeIndex = splitted[0];
                -   placeName = placeName.split('&')[placeIndex];
                -   placeAddress = placeAddress.split('&')[placeIndex];
                -}
                p <b>#{prettyDate(param.pupil.profile.firstExamDate)}</b> у Вас будет первое вступительное испытание в Лицей БГУ, которое состоится по адресу: #{placeName}, <b>#{placeAddress}</b>.
                    br 
                    | Вы пишете экзамен в кабинете <b>#{audience}</b>.
                    br
                    | Начало экзамена в <b>#{param.pupil.profile.firstExamStartTime}</b>

            if (param.examNum === '2')
                - var audience = '';
                - var placeName = param.pupil.place2.name;
                - var placeAddress = param.pupil.place2.address;

                - for (var i = 0; i < param.pupil.place2.audience.length; i++) {
                -     if ('' + param.pupil.place2.audience[i]._id === param.pupil.audience2) {
                -         audience= param.pupil.place2.audience[i].name
                -     }
                - }

                - if (audience.indexOf('_') > -1) {
                -   var splitted = audience.split('_');
                -   audience = splitted[1];
                -   placeIndex = splitted[0];
                -   placeName = placeName.split('&')[placeIndex];
                -   placeAddress = placeAddress.split('&')[placeIndex];
                -}
                
                p <b>#{prettyDate(param.pupil.profile.secondExamDate)}</b> у Вас будет второе вступительное испытание в Лицей БГУ, которое состоится по адресу: #{placeName}, <b>#{placeAddress}</b>. 
                    br 
                    | Вы пишете экзамен в кабинете <b>#{audience}</b>.
                    br
                    | Начало экзамена в <b>#{param.pupil.profile.secondExamStartTime}</b>        

            p Пропуском на вступительное испытание является паспорт, карта учащегося или справка из школы. Не забывайте эти документы дома, возьмите их заранее. Кстати о справке, на справке должна быть Ваша фотография и печать учреждения образования, которая частично закрывает фотографию.

            p Рекомендуем на экзамен взять ручку с яркими чёрными или тёмно-синими чернилами. Подготовленные абитуриенты приносят с собой две или три. Здесь запас не помешает. Для геометрических построений на математике можно использовать карандаш и линейку.

            p А вот телефон на время проведения экзамена лучше не брать или выключить и сдать ответственному в аудитории. Ежегодно кто-либо из абитуриентов забывает это сделать и, хуже того, оставляет включенный телефон у себя в кармане. В случае обнаружения телефона у абитуриента во время проведения вступительных испытаний, работа изымается и не проверяется, на титульном листе делается соответствующая пометка, а абитуриент удаляется из аудитории. Не повторяйте чужих ошибок, только в прошлом году по причине наличия телефона или других средств связи (смарт-часы) со вступительных испытаний были удалены три абитуриента.

            p И последнее. Многие абитуриенты берут с собой воду. Ёмкости в 0,33 или 0,5 литра вполне хватит, чтобы утолить жажду. По поводу перекуса во время экзамена мнения существуют разные. Некоторые абитуриенты считают, что шоколад питает мозг и помогает справиться со сложными заданиями. Научные исследования говорят, что это миф. Кроме того, существует риск того, что Ваш организм в стрессовой ситуации поведет себя непредсказуемо. Например, в прошлом году на вступительном испытании по математике один абитуриент где-то в середине экзамена съел батончик мюсли и запил это соком. Через 20 минут ему стало так плохо, что пришлось вызывать врача, а вступительное испытание он не смог завершить из-за сильных болей. Понятно, что тут нет универсальных советов. Абитуриенты Лицея БГУ приезжают со всей Беларуси. У каждого своя уникальная ситуация. Если Вы едете издалека и завтракаете очень рано, то имеет смысл взять что-нибудь перекусить. Если Вы проживаете в Минске, то три часа экзамена можно целиком посвятить решению задач.

            p Встретимся на экзамене. Ни пуха, ни пера!

            hr
            p С уважением,
                br 
                | Приемная комиссия
                br 
                | Лицея БГУ

            p P.S. На экзамене каждая минута дорога, однако некоторые абитуриенты совершенно добровольно теряют 5-7 минут. Как не потерять это время? Сходите в туалет перед началом вступительного испытания! Напоминаю, выходить из аудитории можно, но только по одному, и только в сопровождении ответственного лица! Сходите заранее, и тогда Ваше внимание не будет распыляться на такие вопросы как: Выйти или не выйти? Выйти сейчас или ещё потерпеть? Когда же придет этот сопровождающий? Почему так долго ждать? Все эти вопросы неизбежно займут то время, которое Вы могли бы посвятить решению задач. Не тратьте своё время, сходите заранее!