-function prettyDate(dateString){
    -var d = dateString.getDate();
    -var monthNames = [ "Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря" ];
    -var m = monthNames[dateString.getMonth()];
    -var y = dateString.getFullYear();
    -var dayNames = ["воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота"];
    -var day = dayNames[dateString.getDay()];
    -return d+' '+m;
-}
!!! transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h2.h2 Уважаемый #{param.firstName} #{param.lastName}!

            p К сожалению, вам отказано в регистрации.
            p В <a href="http://www.lyceum.by/abiturientu.html" target="_blank">личном кабинете абитуриента</a> обратите внимание на ошибку, из-за которой Ваша регистрация на вступительные экзамены не была подтверждена.
            
            | !{param.message}
            
            P Заявка обработана #{param.dessaproveDate}
            p Помните, регистрация на вступительные испытания заканчивается 
                strong #{param.endPeriod} (#{prettyDate(param.registrationEndDate)})

            hr
            p С уважением,
            p Приемная комиссия
            p Лицея БГУ