-function prettyDate(dateString){
    -var d = dateString.getDate();
    -var monthNames = [ "Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря" ];
    -var m = monthNames[dateString.getMonth()];
    -var y = dateString.getFullYear();
    -var dayNames = ["воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота"];
    -var day = dayNames[dateString.getDay()];
    -return d+' '+m;
-}

!!! transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h2.h2 Поздравляем!
            p Вы начали регистрацию в личном кабинете абитуриента Лицея БГУ. Однако для того, чтобы принять участие в экзаменах, необходимо выполнить три простые действия: 
                br
                | 1. Заполнить все обязательные поля и загрузить изображение справки  с фотографией из школы.
                br
                | 2. Нажать на кнопку "ПОДАТЬ ЗАЯВКУ" внизу страницы.
                br
                | 3. Ознакомиться с правилами приема (это значит прочитать их до конца) и нажать кнопку "ОТПРАВИТЬ".
            p Помните, регистрация на вступительные испытания заканчивается 
                strong #{param.endPeriod} (#{prettyDate(param.registrationEndDate)})
                | ! Чтобы лучше понимать, как работает личный кабинет, посмотрите 
                a(href="#{param.registrationVideoLink}") инструкцию по регистрации
                | .


            hr
            p С уважением,
                br 
                | Приемная комиссия
                br 
                | Лицея БГУ