extends ../adminLayout
include ../stuff/mixins/form-helper
include ../stuff/adminIntarface/cards

append menuVars
  - var menuPage = 'contacts';
  - var menuSection = 'content'
block content
    +listPageHeader('Список контактов', 'Добавить контакт', '/admin/contacts/create')
    .row
      +mainCard('Список')  
          .table-responsive
            table.table.table-hover
              thead.text-primary
                tr
                  th.text-center #
                  th Имя / Должность
                  th Порядок
                  th Инфо
                  th.text-right Действия
              tbody    
                  each doc, index in docs
                    if doc    
                      tr
                        td.text-center= index+1
                        td
                          strong #{doc.name.ru}
                          br
                          | #{doc.occupation.ru}
                        td= doc.order || 0
                        td  Кабинет: #{doc.place}
                          br
                          | Тел.: #{doc.phone}
                          br
                          | Email: #{doc.email}
                        td.text-right
                          a.btn.btn-success.btn-icon.btn-sm(href="/admin/contacts/"+doc.id+"/edit", type='button', rel='tooltip', data-original-title='Редактировать', title='Редактировать')
                            i.fa.fa-edit
                          | #{' '}    
                          a.delete-doc-btn.btn.btn-danger.btn-icon.btn-sm(href="/admin/contacts/"+doc.id+"/delete", type='button', rel='tooltip', data-original-title='Удалить', title='Удалить')
                            i.fa.fa-times  