section.style-blue
	h2.caption
		span.style-blue
			a(href=beforeUrl + "/news.html", title=translate("Больше новостей"))= translate('Новости')

		span.color-grey= ' / '

		span.style-green
			a(href=beforeUrl + "/congratulations.html", title=translate("Больше поздравлений"))= translate('Поздравления')
	hr.colored.striped
	if siteConfig.showStats
		include showStats
	if main
		.news-item.col-3.top-news
			include mainItem
	include indexlist
	include moreLink