extends ../adminLayout

block content
    div.page-header
        h1: Список страниц
        a.btn.btn-primary(href='/admin/pages/create') Добавить страницу
    table.table.table-hover
      tr
        th Название
        th Автор
        th Уровень
        th Путь
        th Создана
        th Обновлена
        th
      - each doc in docs
          tr
            td= doc.name.ru
            td= doc.createdBy
            td= doc.order || 0
            td= doc.pathAlias + '.html'
            td= doc.createdAt.format('dd-MM-yyyy hh:mm:ss')
            td= doc.updatedAt.format('dd-MM-yyyy hh:mm:ss')
            td
              a(href="/admin/pages/"+doc.id+"/edit") Редактировать 
              br
              a(href="/admin/pages/"+doc.id+"/delete") Удалить