mixin resultLine(profile, data, num)
    - if (num == 1) {
        - var min = profile.firstIsFirst ? profile.minF : profile.minS
        - var max = profile.firstIsFirst ? profile.maxF : profile.maxS
        - var pass = profile.firstIsFirst ? profile.passF : profile.passS
        - var exam = profile.firstIsFirst ? data.exam1 : data.exam2
        - var name = profile.firstIsFirst ? profile.firstExamName : profile.secondExamName
    - }
    - if (num == 2) {
        - var min = profile.firstIsFirst ? profile.minS : profile.minF
        - var max = profile.firstIsFirst ? profile.maxS : profile.maxF
        - var pass = profile.firstIsFirst ? profile.passS : profile.passF
        - var exam = profile.firstIsFirst ? data.exam2 : data.exam1
        - var name = profile.firstIsFirst ? profile.secondExamName : profile.firstExamName
    - }
    h4 Ваш результат #{num == 1 ? 'первого' : 'второго'} экзамена по предемту #{name}:
    div.resultsLine
        div.line
            div.result-line(style="left:#{min}%;right:#{100 - max}%")
            div.not-pass-line(style="left:#{min}%;right:#{100 - pass}%")
            div.badge.range-badge.left-range <b>0</b>
            div.badge.minBadge.with-tooltip(id="minBadge#{num}",style="left:#{min}%")<b>#{min}</b>
                div.arrow-up
            div.mdl-tooltip(for="minBadge#{num}") Минимальный балл
            div.badge.maxBadge.with-tooltip(id="maxBadge#{num}",style="left:#{max}%")<b>#{max}</b>
                div.arrow-up
            div.mdl-tooltip(for="maxBadge#{num}") Максимальный балл
            div.badge.range-badge.right-range <b>100</b>
            div.badge.passBadge.with-tooltip(id="passBadge#{num}",style="left:#{pass}%")<b>#{pass}*</b>
                div.arrow-up
            div.mdl-tooltip(for="passBadge#{num}") Текущий проходной
            div.badge.resultBadge(style="left:#{exam}%", class=(exam < pass)? "not-pass" : "") Ваш результат <br><b>#{exam}</b>
                div.arrow-down