include header
if (data.exam1 >=0 && data.exam2 >=0)
    h3 Вступительные экзаменя закончились!

    h4 Результаты Ваших экзаменов:
    
    +resultLine(profile, data, 1)
    p 
        b * 
        | - текущий проходной балл по первому экзамену
    
    hr.dotted
    
    +resultLine(profile, data, 2)
    p 
        b * 
        | - текущий проходной балл по первому экзамену
        
    +resultLine(profile, data, 3)
    p 
        b * 
        | - текущий проходной балл по первому экзамену
    ul
        li  Первый экзамен по предмету 
            b #{profile.firstIsFirst ? profile.firstExamName : profile.secondExamName}
            br
            | - Ваш результат: 
            b  #{profile.firstIsFirst ? data.exam1 : data.exam2}
        li	Второй экзамен по предмету 
            b #{profile.firstIsFirst ? profile.secondExamName : profile.firstExamName}
            br
            | - Ваш результат: 
            b  #{profile.firstIsFirst ? data.exam2 : data.exam1}
        li Сумма баллов: 
            b #{+data.exam1 + +data.exam2}
    p 	Проходной балл для профиля 
        b #{profile.name}
        | : 
        b #{profile.passT}
    if +data.exam1 + +data.exam2 >= profile.passT
        include happy
    else
        if profile.halfpass > 0
            if +data.exam1 + +data.exam2 == profile.halfpass
                include halfhappy
            else
                include unhappy
        else
            include unhappy
else
    p
        b К сожалению, вы не явились 
        if (data.exam1 >= 0 || data.exam2>= 0)
            b на один из экзаменов 
        else
            b на оба экзамена 
        b и не можете участвовать в конкурсе.
         
include attantion
